.help {
  background: rgba(230, 220, 180, 1);
}

.sort-field {
  background-color: green; /*temp */
  margin-bottom: 25px;
  height: 50px;
}

.add-new-button {
  background-color: red; /*temp*/
  margin: 0 0 25px 25px;
  height: 50px;
  width: 150px;
}

.problems {
  padding: 25px;
}
