.help {
  background: rgba(230, 220, 180, 1);
}

.sort-field {
  background-color: green; /*temp */
  margin-bottom: 25px;
  height: 50px;
}

.problems {
  margin: 0 25%;
  padding: 25px;
  width: 50%;
  transition: margin-left 0.5s;
}
