.help {
  background-color: darkgray; /*temp*/
}

.sort-field {
  background-color: green; /*temp */
  margin-bottom: 25px;
  height: 50px;
}

.add-new-button {
  background-color: red; /*temp*/
  margin: 0 0 25px 25px;
  height: 50px;
  width: 150px;
}

.problems {
  background-color: aqua; /*temp*/
  padding: 25px;
  height: 1000px;
}
