.home {
  background-color: darkseagreen;
}

.quick-start {
  background-color: indianred;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  width: 700px;
}

.high-rated {
  background-color: cornflowerblue;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  width: 500px;
}

.info {
  background-color: yellow;
  margin-top: 50px;
  height: 200px;
}
